<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam odio suscipit ipsam eius illum labore illo. Consequuntur sunt optio pariatur asperiores aut nemo iusto, maxime nam voluptate quasi, veniam sit.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam odio suscipit ipsam eius illum labore illo. Consequuntur sunt optio pariatur asperiores aut nemo iusto, maxime nam voluptate quasi, veniam sit.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam odio suscipit ipsam eius illum labore illo. Consequuntur sunt optio pariatur asperiores aut nemo iusto, maxime nam voluptate quasi, veniam sit.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>